## COMMENTS

In [1]:
#Single Line Comments
print("Hello")
'''MultiLine Comments 
ignore python while 
execution'''
print('Hii')

Hello
Hii

## Operation on variables

In [3]:
name=input("Enter Your Name: ")
age=int(input("Enter Your Age: "))
salary=float(input("Enter Your Salary: "))
print("Your Name is: "+name+" Your Age is: "+str(age)+" Your Salary is: "+str(salary))

Enter Your Name:  Sweta
Enter Your Age:  22
Enter Your Salary:  50000.00

Your Name is: Sweta Your Age is: 22 Your Salary is: 50000.0

## type()

In [5]:
print(type(name))
print(type(age))
print(type(salary))

<class 'str'>
<class 'int'>
<class 'float'>

## Data Types

In [7]:
#Primitive Data Types
num=12
print(num)
num1=12.9
print(num1)
num2=True
print(num2)
num3='true'
print(num3)
print(type(num))
print(type(num1))
print(type(num2))
print(type(num3))

#Non-Primitive Data Types
list=["Sweta",12,11.9,True]
print(list)
tuple=("Sweta",12,11.9,True)
print(tuple)
set={"Sweta",12,11.9,True}
print(set)
dictionary={"Name":["Sweta","Archana","Anil"],"Rollno":[12,34,90]}
print(dictionary)

12
12.9
True
true
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
['Sweta', 12, 11.9, True]
('Sweta', 12, 11.9, True)
{True, 11.9, 12, 'Sweta'}
{'Name': ['Sweta', 'Archana', 'Anil'], 'Rollno': [12, 34, 90]}

## Mutable and Immutable

In [8]:
#Mutable
list=["Mango","Apple","Orange"]
print(list)
list[1]="Kiwi"
print(list)
dictionary={"Name":["abc","pqr"],"Age":[21,45]}
print(dictionary)
dictionary['Name'][1]="ppp"
print(dictionary)
set={"Sweta",12,"abc"}
print(set)
set.add(2)
print(set)
set.remove("abc")
print(set)

#Immutable
tuplee=(1,"abc",1.2,False)
print(tuplee)
print(type(tuplee))

#Tuple can convert into list, so that its become easy to make modifications
fruit=('Cherry','Mango')
print(fruit)
print(type(fruit))
fruit_list=list(fruit)
print(fruit_list)
print(type(fruit_list))

['Mango', 'Apple', 'Orange']
['Mango', 'Kiwi', 'Orange']
{'Name': ['abc', 'pqr'], 'Age': [21, 45]}
{'Name': ['abc', 'ppp'], 'Age': [21, 45]}
{12, 'Sweta', 'abc'}
{2, 12, 'Sweta', 'abc'}
{2, 12, 'Sweta'}
(1, 'abc', 1.2, False)
<class 'tuple'>
('Cherry', 'Mango')
<class 'tuple'>

TypeError: 'list' object is not callable

## Common String Functions

In [29]:
var="sweta"
dir(var)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
var="sweta"
print(var.title())
print(var.upper())
print(var.lower())
print(var.isupper())
print(var.islower())
print(var.istitle())
print(var.isalpha())
print(var.isdigit())
print(var.swapcase())
print(var.split())
print(var.strip())
print(var.find('w'))
print(var.lstrip())
print(var.rstrip())
print(var.startswith('s'))
print(var.endswith('a'))
print(var.replace('a','u'))

Sweta
SWETA
sweta
False
True
False
True
False
SWETA
['sweta']
sweta
1
sweta
sweta
True
True
swetu

## Operator

### Arithmetic Operator

In [18]:
#Addition
a=12
b=10
c=a+b
print(c)
#Subtraction
c=a-b
print(c)
#Multiplication
c=a*b
print(c)
#Division
c=a/b
print(c)
#Floor Division
c=a//b
print(c)
#Exponential
c=b**2
print(c)

22
2
120
1.2
1
100

### Relational or Comparison Operator

In [19]:
print(a==b)
print(a!=b)
print(a>b)
print(b<a)
print(a>=b)
print(b>=a)

False
True
True
True
True
False

### Logical Operator

In [26]:
print(a<1 and a>=12)
print(a<1 or a>=12)
print(not(a<1 or a>=12))

False
True
False

### Membership Operator

In [29]:
vowels=input("Enter character: ")
print(vowels in "aeiou")
print(vowels not in "aeiou")

Enter character:  a

True
False

### Identity Operator

In [34]:
a=['s','w']
b=['s','w']
c=a
print(id(a))
print(id(b))
print(id(c))
print(a is b)
print(a is c)
print(b is c)
print(a is not b)

1677169664448
1677169653824
1677169664448
False
True
False
True

### Assignment Operator

In [42]:
a=3
b=2
print(a)
print(b)
a+=b
print(a)
a-=b
print(a)
a/=b
print(a)
a*=b
print(a)
a//=b
print(a)
a**=b
print(a)

3
2
5
3
1.5
3.0
1.0
1.0

### Bitwise Operator

In [46]:
a=1
b=2
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<b)
print(a>>b)

0
3
3
-2
4
0

In [8]:
def Total_Profit(rent,deposit,agent,society,expense):
    agg=11
    sum=agent+society+expense
    deposit-=sum
    agg*=rent
    return deposit+agg
rent=float(input("How much rent renter will pay you: "))
deposit=float(input("How much deposit Renter will pay you: "))
agent=float(input("How much amount you will pay to agent: "))
society=float(input("How much amount pay to society: "))
expense=float(input("Other Expenses: "))
print(f"Total Profit of overall year is {Total_Profit(rent,deposit,agent,society,expense)}")

How much rent renter will pay you:  4000
How much deposit Renter will pay you:  15000
How much amount you will pay to agent:  4000
How much amount pay to society:  2000
Other Expenses:  14800

Total Profit of overall year is 38200.0

In [20]:
Books={"Harry Potter":100,"Jungle Book":200}
delay_to_return=int(input("Enter how many days to return a book in days: "))
fine=0
limit=7
for i,k in Books.items():
    for j in range(delay_to_return+1):
        if j>limit:
            if fine==k:
                fine=k
            else:
                fine+=25
        else:
            fine=0
        Books[i]=fine
print(f"Total fine you have to pay {Books}")

Enter how many days to return a book in days:  12

Total fine you have to pay {'Harry Potter': 100, 'Jungle Book': 125}

In [9]:
def cal_fine(Books,delay_to_return):
    list1=[]
    list2=[]
    fine=0
    limit=7
    for i in Books["Fine"]:
        for j in range(delay_to_return+1):
            if j>limit:
                if fine==i:
                    fine=i
                else:
                    fine+=25
                list1.append(fine)
            else:
                fine=0
                list1.append(fine)
        list2.append(list1[-1])
        Books["Fine"]=list2
    return Books

In [26]:
Library={"BookName":["Tarzan","HarryPotter","JungleBook","Secret"],"Cost":[100,200,400,560]}
Books={"BookName":'',"Fine":''}
list1=[];list2=[];list3=[];

for keys,values in Library.items():
    print(keys)
    for i in values:
        print(i,end=" ")
    print()
    
select_books=int(input("How many books you take: "))
delay_to_return=int(input("Enter how many days to return a book in days: "))

for booksinfo in Library.values():
    list1.append(booksinfo)
    
for no_of_books in range(select_books):
    bookname=input(f"Enter book {no_of_books+1}:")
    bookcost=int(input(f"Enter cost of  book {no_of_books+1}:"))
    for books in list1:
        for books_name_and_cost in books:
            if bookname == books_name_and_cost:
                list2.append(bookname)
                Books["BookName"]=list2
            elif bookcost == books_name_and_cost:
                list3.append(bookcost)
                Books["Fine"]=list3
print(f"Total fine you have to pay {cal_fine(Books,delay_to_return)}")

BookName
Tarzan HarryPotter JungleBook Secret
Cost
100 200 400 560

How many books you take:  1
Enter how many days to return a book in days:  12
Enter book 1: Secret
Enter cost of  book 1: 560

Total fine you have to pay {'BookName': ['Secret'], 'Fine': [125]}